<div class="row">
   <div class="col-4">
      <button type="button" id="saveBtn"><img src="../../public/assets/img/thumbPin.png"></button>
   </div>
   <div class="col-4">
      <h1>{{ campName }}</h1>
   </div>
   <div class="col-1">
      {{ star1 }}
      {{ star2 }}
      {{ star3 }}
      {{ star4 }}
      {{ star5 }}
   </div>
</div>
{{!-- place camp image here --}}