<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <title>Profile Page</title>
  <script src="https://code.jquery.com/jquery.js"></script>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar navbar-custom" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="main"><img src="/assets/img/LogoIcon.png" height="50px" width="auto"></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="profile"><img src="/assets/img/ProfileIcon.png" height="50px" width="auto"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link log-out" href="/">Log Out</a>
      </li>
    </ul>
</nav>
<h1>{{this.user.text}} Campify Profile</h1>

<div>
  {{#each user}}
  {{this.user}}: {{value}}

  <div class="user">
    <h2>General Info</h2>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Password: {{user.password}}</p>

    <h2>Your Saved Campifies</h2>
    <ul>{{#each campifies}}
      {{/each}}

      <h2>Your Reviews</h2>
      <ul>
        {{#each review}}
        {{/each}}
      </ul>
      {{else}}
      <p>no users</p>
      {{/each}}
  </div>
</div>